.Carousel {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: var(--space-4);
  overflow: hidden;
  height: var(--carousel-height);
  background-color: var(--carousel-background, var(--brand-accent-blue));
}

.Images {
  position: relative;
}

.Image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--space-6);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-origin: content-box;

  transform: translateX(0);
  transition: transform 150ms ease-in-out;
}

.prev {
  transform: translateX(-100%);
}

.next {
  transform: translateX(100%);
}

.Pips {
  position: relative;
  display: flex;
}

.PipButton {
  padding: var(--space-4);
  border: none;
  background: transparent;
}

.Pip {
  --pip-size: 12px;
  --pip-fuzz: 0 0 10px 0 var(--brand-accent-blue);
  width: var(--pip-size);
  height: var(--pip-size);
  background-color: white;
  border-radius: 50%;
  box-shadow: var(--pip-fuzz);
}

.selected .Pip {
  box-shadow: 0 0 0 2px var(--brand-accent-blue), 0 0 0 3px white,
    var(--pip-fuzz);
}
