@font-face {
  font-family: BrandonWeb;
  src: url("../media/Brandon.otf") format("opentype");
}

:root {
  /* Color */
  --text: #1a1a1a;
  --link: #1a1a1a;
  --text-inverse: #fff;
  --background: #fff;
  --brand: #e1ad01;

  --brand-accent-mud: #5d5c24;
  --brand-accent-blue: #376586;
  --brand-accent-gold: #706e30;
  --brand-accent-orange: #b86047;
  /* TODO: PX TO REM POST CSS */
  /* Space */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  /* Type */
  --font-size-1: 13px;
  --font-size-2: 14px;
  --font-size-3: 18px;
  --font-size-4: 24px;
  --font-size-5: 32px;
  /* Placeholder */
  --placeholder-1: aliceblue;
  --placeholder-2: blanchedalmond;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fff;
    --text-inverse: #1a1a1a;
    --link: #a0eaff;
    --background: #1a1a1a;
    --placeholder-1: #3a4854;
    --placeholder-2: #3b2e1c;
  }
  html {
    color-scheme: dark;
  }
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background);
  color: var(--text);
}

a,
button {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
